<div class="header">
	<div class="container">
        <h1 class="h-english"><%= data.headline.replace(/\n/g, "<br/>") %></h1>
        <h1 class="h-greek d-n"><%= data.headlinegreek.replace(/\n/g, "<br/>") %></h1>
        <h2 class="h-english"><%= data.standfirst %></h2>
        <h2 class="h-greek d-n"><%= data.standfirstgreek %></h2>
        <div class="f-h2 js-contribution"><%= data.contribution %></div>
		<div class="header__social">
			<a href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent(window.location.href.split("#")[0]) %>" target="_blank" class="social-icon facebook" data-link-name="social facebook voices-header"><img src="@@assetPath@@/imgs/share-facebook.svg"/></a>
            <a href="https://twitter.com/intent/tweet?text=<%= encodeURIComponent(data.headline + ' @guardian http://gu.com/p/4a5yq pic.twitter.com/WYeq8zN7Os') %>" target="_blank" data-link-name="social twitter voices-header" class="social-icon twitter"><img src="@@assetPath@@/imgs/share-twitter.svg"/></a>
			<a href="mailto:?subject=<%= encodeURIComponent(data.headline) %>&body=<%= encodeURIComponent(encodeURIComponent(window.location.href.split("#")[0])) %>" target="_blank" class="social-icon email" data-link-name="social email voices-header"><img src="@@assetPath@@/imgs/share-email.svg"/></a>
		</div>
	</div>
</div>
<a class="back-to-top">
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="18"><path class="up-arrow" d="M.4 15.3l10.5-8.4 1.1-.9 1.1.9 10.5 8.4-.5.7-11.1-6.3-11.1 6.3-.5-.7z"/></svg>
</a>

<div class="buffer"></div>
