/**
 * Project: Project name 
 * File:    Main SCSS
 */

$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';
$gs-baseline: 12px;
$gs-gutter: 20px;

@import '../../bower_components/pasteup-palette/src/_palette';
@import '../../bower_components/guss-webfonts/src/_webfonts.scss';
@import '../../bower_components/guss-typography/_typography.scss';
@import 'modules/_mq.scss';
@import '../../bower_components/guss-colours/_colours.scss';
@import '../../bower_components/pasteup-buttons/src/_buttons';

@include guss-webfonts();
@include guss-typography-defaults;

body {
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.dropdown-open {
    @include mq(desktop) {
        overflow: hidden;
        height: 100%;
    }
}

figure {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.element-interactive {
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    font-family: "Guardian Text Egyptian Web","Egyptian Text",Georgia,serif;

    .dropdown-open & {
        @include mq($until: desktop) {
            display: none;
        }
    }
}

.main,
.grid {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;

    @include mq(tablet) {
        width: 740px;
    }

    @include mq(desktop) {
        width: 980px;
    }

    @include mq(leftCol) {
        width: 1140px;
    }

    @include mq(wide) {
        width: 1300px;
    }
}

.main {
    margin-bottom: 30px;

    @include mq(tablet) {
        border-right: 1px solid #dfdfdf;
    }
}

.about {
    color: #767676;
    font-size: 16px;
    font-family: "Guardian Text Sans Web","Agate Sans",sans-serif;
    line-height: 28px; 
    
    border: 0;
    border-top: 1px solid #dfdfdf;
    margin-bottom: 36px;
    padding-top: 24px;

    padding-left: 20px; padding-right: 20px;
    @include mq(tablet) { padding-left: 0; padding-right: 0; }

    a {
        color: #767676;
        text-decoration: underline !important;
    }
}

.buffer {
    width: 100%;
    height: 30px;
    margin: auto;
    box-sizing: border-box;

    @include mq(tablet) {
        width: 740px;
        border-left: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
    }

    @include mq(desktop) {
        width: 980px;
        height: auto;
    }

    @include mq(leftCol) {
        width: 1140px;
    }

    @include mq(wide) {
        width: 1300px;
    }
}

.back-to-top {
    position: fixed;
    bottom: -38px;
    right: 10px;
    background-color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 60px;
    text-align: center;
    border: 1px solid #ddd;
    z-index: 10;
    opacity: 0.6;
    transition: bottom 0.25s, border-color 0.25s, opacity 0.25s;

    .up-arrow {
        fill: #ccc;
        transition: fill 0.25s;
    }

    svg {
        padding-top: 7px;
    }

    &.back-to-top--scrolled {
        bottom: 12px;
    }

    &:hover {
        border-color: #4bc6df;
        opacity: 1;
        cursor: pointer;
        .up-arrow {
            fill: #4bc6df;
        }
    }
}


// General

.hide-mobile { 
    @include mq($until: tablet) {
        display: none;
    }
}

.show-mobile {
    @include mq(tablet) {
        display: none;
    }
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: 1;
    }
}


// Apps 

a,p a,li a{
    background: none;
    text-shadow: none;
}

body {
    margin: 0 !important;
}

figure.element-interactive {
    margin: 0;
}

#article-body.interactivePadding {
    padding-left: 0;
    padding-right: 0;
}

a {
    text-shadow: none !important;
}

img {
    border: 0;
}


// misc
/* atomic style */
.d-n { display: none; }
.pos-r { position: relative; }
.pos-f { position: fixed; }

.f-h2 {
    color: #333;
    font-size: 18px;
    font-weight: bold; 
    line-height: 1.6em;
    max-width: 780px;
    margin-top: 20px;

    a {
        color: #005689;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
    }}
    @include mq($until: tablet) {
        font-size: 16px;
    }
}

@import 'modules/_header.scss';
@import 'modules/_footer.scss';
@import 'modules/_item.scss';
@import 'modules/_modal.scss';
@import 'modules/_map.scss';
