// Guardian Footer
// new fix
.l-footer { display: block !important; }

footer {
    background:#424242;

    .really-serious-copyright {
		font-size: 12px;
		color:#dcdcdc;
		font-family:'Guardian Text Sans Web','Agate Sans',sans-serif;
		margin:0 10px 20px;
		padding-top:10px;
    }
}

.footer-sticky {
    // sticky element is using 
    // header layout
    @extend .header;
    background-color: white;
    .f-h2 {
        max-width: 100%;
        margin: 20px 0 15px 0;
        padding-left: 10px;
        @include mq(desktop) {
        font-size: 1.5em;
        }
    }
}
.sticky {
    @extend .pos-f;
    bottom: 0;
    box-shadow: -3px 6px 18px dimgrey;
}
