/* atomic style */
.d-n { display: none; }
.pos-r { position: relative; }


.map {
    
    // variables
    $blue: #4bc6df;     //news-main-2
    $preview-h: 64px;
    $preview-w: $preview-h*3;


    // reset
    p { margin: 0; }

    
    // custom style
    // font
    .f-ellipsis {
        // ellipsis
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }   
    .f-name {
        @extend .f-ellipsis;
        color: #333;        //neutral-1
        font-size: 15px;
        font-weight: bold;
        line-height: 1.25em;
    } 
    .f-city {
        @extend .f-ellipsis;
        color: $blue;
        font-family: $f-sans-serif-text;
        font-size: 12px;
        font-weight: bold;
        padding-top: 5px;
        border-top: 2px solid $blue;
    }

    // svg
    .path-voronoi {
        fill: transparent;
        cursor: pointer;
        //TODO: remove bf publish
        //stroke: lightblue;
        //stroke-width: 1px;
    }
    .path-map {
        stroke: white;
        stroke-width: 0.5px;
        fill: #bdbdbd;  //neutral-3
    }
    .path-map-hovered {
        fill: #767676;  //neutral-2
    }

    .pin {
        fill: #333;
    }
    .pin-hovered {
        fill: $blue;
    }

    // preview
    .pos-a__preview {
        position: absolute;
        top: 0;
        left: 0;
    }
    .preview {
        width: $preview-w;
        height: $preview-h;
        pointer-events: none;
    }
    .preview-img {
        width: $preview-h;
        height: $preview-h;
        float: left;
        overflow: hidden;
        box-sizing: border-box;
        img {
        display: block;
        width: 100%;
        }
    }
    .preview-text {
        background-color: rgba(255, 255, 255, 0.75);
        width: calc(100% - #{$preview-h});
        height: $preview-h;
        padding: 13px 5px 0 5px;
        float: right;
        box-sizing: border-box;
    }
}
